<div class="content-offre">
    <div class="row nvx-offre">
        <h1 class="nvx-catchphrase">Offre</h1>
        <div class="greeting col-lg-12">
Si vous êtes un professionnel intéressé par le projet Navoxi,
        </div>
        <div class="teaser col-lg-12">
Et que vous souhaiteriez intégrer la solution à votre environnement, voici ce que nous sommes en mesure de vous proposer.
        </div>
    </div>

    <div class="row nvx-article-head">
        <h2>
            Contexte
        </h2>
    </div>
    <article class="row nvx-offre-contexte">
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Vous appartenez à la direction d’une structure, par exemple une société de transports en commun, un centre commercial, un musée ou une université, et vous souhaitez intégrer Navoxi à son écosystème ?
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Vous êtes un élu souhaitant moderniser et rendre accessible des bâtiments de votre territoire ?
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Vous êtes un professionnel du numérique, et voulez intégrer la brique Navoxi à votre application ?
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Nous pouvons vous accompagner dans chaque étape de votre démarche.
            </p>
        </section>
    </article>

    <div class="row nvx-article-head">
        <h2>
            Propositions
        </h2>
    </div>
    <article class="row nvx-offre-props">
        <div class="col-lg-5 col-lg-offset-1 nvx-offre-props-summary-container">
            <div class="nvx-offre-props-summary">
                Les possibilités de collaborer avec nous sont nombreuses, voici quelques-unes des missions que nous pouvons réaliser.
            </div>
        </div>
        <section class="col-lg-5 nvx-offre-props-detail">
            <div>
                <ul>
                    <li>
                        Installation, configuration, maintenance et renouvellement du parc de balises
                    </li>

                    <li>
                        Branchement de Navoxi à un parc de balises existant
                    </li>

                    <li>
                        Accès au tableau de bord Navoxi, afin de procéder vous-même à l’installation et à la configuration de vos balises
                    </li>

                    <li>
                        Ajout de votre structure à l’application Navoxi
                    </li>

                    <li>
                        Développement intégral de l’application au nom et au design de votre marque
                    </li>

                    <li>
                        Intégration de la brique Navoxi à une application existante
                    </li>
                </ul>
            </div>
        </section>
    </article>
    <article class="nvx-offre-moreinfo">
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Si vous souhaitez en savoir plus, vous pouvez nous contacter
                <a href="/dru/contact">
                     via le formulaire
                </a>
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                ou à toute heure par téléphone, au numéro présent en bas de page.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Nous prendrons le temps d’approfondir avec vous, chaque aspect de votre projet, et vous ferons une proposition dans les 24 heures suivant notre premier contact.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Nous espérons donc avoir le plaisir d'échanger prochainement avec vous.
            </p>
        </section>
    </article>
</div>
