<div class="row nvx-article-head">
    <h2>
        Hackathon Métro 2030 - Alstom
    </h2>
</div>

<article class="row nvx-hackathon-alstom">
    <div class="col-lg-6 col-md6 nvx-scrolltext">
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                En mars 2016, nous avons eu le plaisir de participer au hackathon Métro 2030 organisé par la société Alstom. Il s’agissait de se projeter dans le métro de demain, en imaginant les futurs services numériques qui permettraient aux usagers, d’améliorer leur expérience d’utilisation des transports urbains.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Nous avons évidemment pensé à l’accessibilité des stations de métro aux personnes non- et malvoyantes, aujourd’hui en difficulté pour se déplacer sans aide extérieure, ou sans un repérage préalable des stations.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Pour un coût relativement faible, il serait donc possible d’offrir d’une grande autonomie aux personnes déficientes visuelles, et un confort et une facilité d’utilisation à tous.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Pour la voiture, nous avons commencé par être aidés par des cartes routières et des panneaux de direction. Ensuite, avec l’arrivée de l’informatique, les cartes ont été dématérialisées. Puis sont arrivés les calculateurs d’itinéraires, pour finalement terminer avec l’invention du GPS.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Les mêmes progrès ont été réalisés avec les transports en commun, mais ils se sont arrêtés avec le calculateur d’itinéraire.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Navoxi propose simplement de faire cet ultime pas vers le guidage en temps réel.
            </p>
        </section>
        <section class="col-lg-8 col-lg-offset-2">
            <p>
                Le jury a accueilli le projet avec enthousiasme, et nous a décerné le prix du meilleur code.
            </p>
        </section>
    </div>
    <div class="col-lg-6 col-md-6">
        <section class="col-lg-8 nvx-hackathon-alstom-video">
            <p>
                <iframe name="video-youtube-alstom" width="560" height="315" src="https://www.youtube.com/embed/YVzppqqrJtE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
        </section>
    </div>
</article>

<!--
<article class="row nvx-hackathon-alstom-tweets">
    <section class="col-lg-5 col-lg-offset-1">
        <p>
            <blockquote class="twitter-tweet" data-lang="fr"><p lang="fr" dir="ltr">Pitch16 : Navoxi <a href="https://twitter.com/hashtag/hackathon?src=hash&amp;ref_src=twsrc%5Etfw">#hackathon</a> <a href="https://twitter.com/hashtag/metro2030?src=hash&amp;ref_src=twsrc%5Etfw">#metro2030</a> le futur est là <a href="https://t.co/p2IHvnHizS">
                pic.twitter.com/p2IHvnHizS</a></p>&mdash; Florent Davier (@fdavier) <a href="https://twitter.com/fdavier/status/710856426068037633?ref_src=twsrc%5Etfw">18 mars 2016</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
    </section>
    <section class="col-lg-6">
        <p>
            <blockquote class="twitter-tweet" data-lang="fr"><p lang="en" dir="ltr">Best code Prize for Navoxi, the personalized navigation app ! <a href="https://twitter.com/hashtag/metro2030?src=hash&amp;ref_src=twsrc%5Etfw">#metro2030</a> <a href="https://t.co/L4cdDZ5xwa">pic.twitter.com/L4cdDZ5xwa</a></p>&mdash; Pierre Cordelle (@PierreCordelle) <a href="https://twitter.com/PierreCordelle/status/710883225565073408?ref_src=twsrc%5Etfw">18 mars 2016</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
    </section>
</article>
-->
