<div class="row">
    <div class="col-lg-2">
        <a routerLink="project">
            Projet
        </a>
    </div>
    <div class="col-lg-2">
        <a routerLink="demo">
            Démo
        </a>
    </div>
    <div class="col-lg-2">
        <a routerLink="video">
            Vidéo
        </a>
    </div>
    <div class="col-lg-2">
        <a routerLink="events">
            Evénements
        </a>
    </div>
    <div class="col-lg-2">
        <a routerLink="offer">
            Offre
        </a>
    </div>
    <div class="col-lg-2">
        <a routerLink="contact">
            Contact
        </a>
    </div>
</div>
