<div class="content-accueil">
    <div class="row nvx-accueil">
        <h1 class="nvx-catchphrase">Laissez-vous guider</h1>
        <div class="greeting col-lg-12">
            Bienvenue sur le site officiel de l’application Navoxi. 
        </div>
        <div class="teaser col-lg-12">
            Vous y trouverez toutes les informations concernant son utilisation, son développement, son stade d’avancement, son histoire, et l’équipe chargée de sa création.
        </div>
    </div>

    <div class="row nvx-article-head nvx-en-bref">
        <h2>
            Navoxi en bref
        </h2>
    </div>
    <article class="nvx-article row">
        <section class="nvx-section col-lg-8 col-lg-offset-2">
            <div class="nvx-text-center">
                <p>
                    L’application Navoxi a pour but de permettre à des personnes déficientes visuelles d’être guidées pas à pas dans un environnement fermé et dépourvu de connexion extérieure. 
                </p>
                <p class="nvx-example">
                    (Exemples : une station de transports en commun, une gare ferroviaire, un bâtiment administratif ou un centre commercial…)
                </p>
            </div>
        </section>
        <section class="col-lg-12 nvx-text-center">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="nvx-catchphrase">
                        Il est possible de réaliser cela
                    </h3>
                    Grâce à des balises de microlocalisation, communément nommées Beacons.
                </div>
                <div class="col-lg-4 panel panel-default">
                 
                </div>
            </div>
            <div class="row nvx-text-center">
                <div class="col-lg-4">
                    En fonction des informations émises par ces balises ...
                </div>
                <div class="col-lg-4">
                    ... l'application localise le lieu dans lequel se trouve l'utilisateur ...
                </div>
                <div class="col-lg-4">
                    ... et lui propose de le guider vocalement vers un point précis situé dans ce lieu.
                </div>
            </div>
        </section>
    </article>

    <div class="row nvx-article-head nvx-en-video">
        <h2>
            Navoxi en vidéo
        </h2>
    </div>
    <article class="nvx-article row">
        <div class="col-lg-6 col-lg-offset-2">
            <p>
                Voici une vidéo montrant l’application en action. Elle guide un utilisateur, du hall d’entrée jusqu’à la salle de conférence de son école.
            </p>
        </div>
        <div class="col-lg-2">
            <a href="/dru/demo-video-alstom">
                <button type="button" class="btn btn-info btn-block" value="Voir la vidéo">
                    Voir la vidéo
                </button>
            </a>
        </div>
    </article>

    <div class="row nvx-article-head nvx-en-direct">
        <h2>
            Navoxi en direct
        </h2>
    </div>
    <article class="nvx-article row">
        <div class="col-lg-6 col-lg-offset-2">
            <p>
                Vous pouvez dès maintenant tester l'application au sein même de votre navigateur. Il s'agit d'une version pensée pour un guidage dans une gare SNCF.
            </p>
        </div>
        <div class="col-lg-2">
            <a href="/dru/demo">
                <button type="button" class="btn btn-info btn-block" value="Voir la vidéo">
                    Cliquez ici
                </button>
            </a>
        </div>
    </article>
    
    <div class="row nvx-article-head nvx-en-detail">
        <h2>
            Navoxi en détail
        </h2>
    </div>
    <article class="nvx-article nvx-text-center nvx-cards row">
        <div class="nvx-card-first-group col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6 nvx-card">
                    <div>
                        <i class="fas fa-project-diagram"></i>                    
                        <h4>Projet</h4>
                        <p>Tous les détails du projet</p>
                        <a href="/dru/projet">
                            <button type="button" class="btn btn-info btn-block" value="Projet">
                                Rendez-vous sur cette page
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 nvx-card">
                    <!--img src="img_avatar1.png" alt="Card image" style="width:100%"-->
                    <div>
                        <h4>Évènements</h4>
                        <p>Tous les événements auxquels nous avons participé et allons participer</p>
                        <a href="/dru/evenements">
                            <button type="button" class="btn btn-info btn-block" value="Évènements">
                                C'est par là
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6 nvx-card">
                    <!--img src="img_avatar1.png" alt="Card image" style="width:100%"-->
                    <div>
                        <h4>Offre</h4>
                        <p>Vous êtes un professionnel désirant intégrer la solution Navoxi</p>
                        <a href="/dru/offre">
                            <button type="button" class="btn btn-info btn-block" value="Offre">
                                Cette page est faite pour vous
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 nvx-card">
                    <!--img src="img_avatar1.png" alt="Card image" style="width:100%"-->
                    <div>
                        <h4>Contact</h4>
                        <p>Nous contacter aux coordonnées en pied de page</p>
                        <a href="/dru/contact">
                            <button type="button" class="btn btn-info btn-block" value="Contact">
                                Ou via ce formulaire
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <p>
        Nous vous souhaitons une excellente visite.
    </p>

    <p>
        L’équipe de Navoxi
    </p>
</div>
