.nvx-green {
    color: #1abc9c;
}

.nvx-text-center {
    text-align: center;
    line-height: 1.5em;
}

.nvx-catchphrase {
    margin-bottom: 0.5em;
}

.nvx-example {
    font-size: 75%;
    font-style: italic;
}

.nvx-section {
    margin-bottom: 0.5em;
}

.content-demo-video-alstom {
    font-family: 'Ubuntu',sans-serif;
    line-height: 2em;
}

.content-demo-video-alstom h2 {
    font-size: 2.5em;
    color: #1abc9c;
    margin: 0;
    text-align: left;
}

.nvx-text-center {
    text-align: center;
    line-height: 1.5em;
}

.nvx-catchphrase {
    margin-bottom: 0.5em;
}

.nvx-example {
    font-size: 75%;
    font-style: italic;
}

.nvx-section {
    margin-bottom: 0.5em;
}

.nvx-demo-video-alstom {
    height: 15em;
    color: white;
    background-image:
    linear-gradient(
        to right, 
        #1abc9c, 
        #56AC32,
        #1abc9c
        );
        padding-top: 1em;        
        padding-bottom: 1em;
    }

    .nvx-demo-video-alstom h1 {
        font-size: 350%;
        font-style: italic;
        text-align: center;
        color: white;
    }

    .nvx-demo-video-alstom .greeting {
        font-size: 150%;
        text-align: center;
    }

    .nvx-demo-video-alstom .teaser {
        font-size: 125%;
        text-align: center;
    }

    .nvx-article-head {
        margin-top: 5em;
        margin-bottom: 2em;
    }

    .btn.btn-info {
        background-color: #1abc9c !important;
    }
