<div class="content-demo-video-alstom">
	<div class="row nvx-demo-video-alstom">
        <h1 class="nvx-catchphrase">Démo vidéo Alstom</h1>
        <div class="greeting col-lg-12">
            Cette vidéo montre l'application Navoxi en action. 
        </div>
        <div class="teaser col-lg-12">
            Elle a été tournée à l'école 42 lors du hackathon "Métro 2030" organisé par la société Alstom.
        </div>
    </div>
    <div class="row nvx-text-center">
	<div class="field field--name-field-video field--type-video field--label-hidden field__item">
		<video preload="none" controls="" style="width:854px;height:480px;">
	      <source src="/assets/video/navoxi.mp4">
	  	</video>
	</div>
    </div>
</div>
