<div class="content-projet">
    <div class="row nvx-projet">
        <h1 class="nvx-catchphrase">Projet</h1>
        <div class="teaser col-lg-12">
             Navoxi a pour but de permettre à ses utilisateurs d’être guidé pas à pas, vocalement et en temps réel dans un lieu fermé
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <article class="row">
                <section class="col-lg-6 col-md-12 col-sm-12 nvx-public-content nvx-text-center">
                    <div class="row nvx-article-head nvx-public">
                        <h2>
                            Public
                        </h2>
                    </div>
                    <div class="row">
                        <p>
                            L’application est pensée pour des utilisateurs déficients visuels, mais son utilisation est adaptée à tous. Navoxi peut en effet faire gagner un temps précieux, pour être par exemple guidé vers une enseigne précise dans un vaste centre commercial, faciliter l'orientation dans un lieu touristique, simplifier une correspondance dans une gare, ou éviter de s’égarer dans les dédales d’une station de métro.
                        </p>
                    </div>
                </section>
                <section class="col-lg-6 col-md-12 col-sm-12 nvx-text-center" aria-hidden="true">
                    <img class="img-responsive img-thumbnail nvx-projet-img" src="http://navoxi.ludovicsansone.com/dru/sites/default/files/projet_fond-min.png" />
                </section>
            </article>

            <div class="row nvx-article-head">
                <h2 class="nvx-screen-reader-only">
                    Fonctionnement
                </h2>
            </div>
            <article class="nvx-article nvx-fonctionnement row">
                <section class="well col-lg-3">
                    <p class="nvx-text-center">
                        <i class="fa fa-bluetooth fa-5x nvx-green" aria-hidden="true"></i>
                    </p>
                    <p class="nvx-text-center">
                        Pour localiser l’utilisateur dans un lieu fermé, donc dépourvu de signal satellite, l’application utilise la connectivité bluetooth, présente sur la totalité des smartphones actuellement sur le marché. 
                    </p>
                </section>
                <section class="well col-lg-3">
                    <p class="nvx-text-center">
                        <img class="img-responsive nvx-utilisation-img" src="http://navoxi.ludovicsansone.com/dru/sites/default/files/beacon_phone.png" />
                    </p>
                    <p class="nvx-text-center"> 
                        Grâce à cette technologie, le smartphone va pouvoir se connecter à des balises électroniques, qui émettent des signaux en continu.
                    </p>
                </section>
                <section class="well col-lg-3">
                    <p class="nvx-text-center">
                        <i class="fa fa-map-marker fa-5x nvx-green" aria-hidden="true"></i>
                    </p>
                    <p>
                        En analysant ces informations, et en les comparant à nos données, l’application sait alors où l’utilisateur se trouve, et va ainsi pouvoir l’orienter dans une direction vers un point précis. 
                    </p>
                </section>
                <section class="well col-lg-3">
                    <p class="nvx-text-center">
                        <i class="fa fa-mobile-phone fa-5x nvx-green" aria-hidden="true"></i>
                    </p>
                    <p>
                        Pour affiner ce guidage, nous couplons tout cela avec les données inertielles provenant du smartphone de l’utilisateur.
                    </p>
                </section>
            </article>

            <div class="row nvx-article-head">
                <h2>
                    Utilisation
                </h2>
            </div>
            <article class="nvx-article nvx-utilisation row">
                <section class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="nvx-green nvx-text-center">
                            <p class="big-text">
                                Il est très simple d’utiliser Navoxi.
                            </p>
                            <p>
                               Deux actions suffisent à lancer le guidage : 
                            </p>
                        </div>
                    </div>
                    <div class="row nvx-ol">
                        <ol>
                            <li class="row">
                                <p class="col-lg-6">
                                    Au démarrage de l’application,
                                    <em>le smartphone analyse les signaux envoyés par les balises</em>
                                    se trouvant à proximité, et en déduit le lieu dans lequel se trouve l’utilisateur. Il secoue simplement son smartphone afin de confirmer que le lieu est bien celui localisé.
                                </p>

                                <p class="nvx-text-center col-lg-6" aria-hidden="true">
                                    <img class="nvx-projet-img-1 img-responsive img-thumbnail" src= "http://navoxi.ludovicsansone.com/dru/sites/default/files/nvx_projet_util_1.png" />
                                </p>
                            </li>

                            <li class="row">
                                <p class="nvx-text-center col-lg-6" aria-hidden="true">
                                    <img class="nvx-projet-img-2 img-responsive img-thumbnail" src= "http://navoxi.ludovicsansone.com/dru/sites/default/files/nvx_projet_util_2.jpg" />
                                </p>
                                <p class="col-lg-6">
                                    L’application affiche alors les différents points disponibles dans ce lieu, et <em>l’utilisateur n’a plus qu’à sélectionner le point ou il souhaite se rendre.</em>
                                </p>
                            </li>
                        </ol>
                    </div>
                </section>
            </article>
            <article class="nvx-article nvx-guidage row">
                <section>
                    <p>
                        <em>Le guidage démarre alors,</em> orientant l’utilisateur vers le point sélectionné, à chaque fois qu’une balise est rencontrée. Il a la possibilité de faire répéter la dernière instruction, et de connaître sa position courante, par exemple : Centre commercial Lyon Part-Dieu, 1er étage.
                    </p>
                </section>
                <section>
                    <p>
                        L’interface de l’application change en fonction du type de lieu dans lequel se trouve l’utilisateur. Par exemple, si le lieu courant est un centre commercial, une liste des enseignes présentes dans ce centre s’affiche par ordre alphabétique.
                    </p>
                </section>
                <section>
                    <p>
                        Si c’est une station de métro, une liste des lignes desservant la station apparaît.
                    </p>
                </section>
                <section>
                    <p>
                        S’il s’agit d’une gare ferroviaire, l’interface se compose d’une partie supérieure avec 3 onglets :
                    </p>
                    <ul class="nvx-green">
                        <li>
                            Trains au départ
                        </li>

                        <li>
                            Trains à l’arrivée
                        </li>

                        <li>
                            Points d’intérêt.
                        </li>
                    </ul>
                </section>
                <section>
                    <p>
                        Selon la sélection de l’utilisateur, la partie inférieure affiche alors le panneaux des prochains départs, celui des arrivée, ou une liste de points d’intérêt.
                    </p>
                </section>
                <section>
                    <p class="nvx-green">
                        <em>Vous pouvez d’ailleurs tester une version web de Navoxi, où vous incarnerez un voyageur en gare de Lyon Perrache, souhaitant être guidé vers son quai de départ.</em>
                    </p>
                </section>
                <section>
                    <a routerLink="demo">
                        <button type="button" class="btn btn-info btn-block" value="Démo">
                            Bon voyage !
                        </button>
                    </a>
                </section>
            </article>

            <div class="row nvx-article-head nvx-compatibilite">
                <h2>
                    Compatibilité
                </h2>
            </div>
            <article class="nvx-article row">
                <p>
                    A sa publication, l’application sera disponible sous deux plates-formes, iOS et Android. Navoxi sera donc utilisable avec la grande majorité des smartphones du marché, sous réserve d'être compatibles avec la norme Bluetooth 4.
                </p>
            </article>
        </div>
    </div>
    
</div>
