#app-view .route-container
{
    background-color: #eaeaea;
}

#app-view .route-section-back
{
    margin-bottom: 3em;	
}

#app-view .route-header
{
    margin-bottom: 10em;	
}

#app-view .route-title
{
    white-space: normal;
    font-weight: bold;
    line-height: 3.5em;
    vertical-align: middle;
}

#app-view .route-title-destination
{
    text-align: center;
}

#app-view .route-train
{
    color: white;
    font-size: 100%;
    height: 6em;
    background-color: #00C2EC;
}

#app-view .route-train .train-hour
{
    font-weight: bold;
    line-height: 5.5em;
    color: yellow;
    text-align: center;
    vertical-align: middle;
}

#app-view .route-train-destination
{
    line-height: 3em;
    text-align: center;
    vertical-align: middle;
    font-size: 180%;
    white-space: nowrap;
}

#app-view .route-train-platform
{
    border: 1px solid white;
    padding: 0.3em;
    line-height: 5em;
    text-align: center;
    vertical-align: middle;
}

#app-view .route-instruction
{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#app-view .route-instruction:first-letter
{
    text-transform: capitalize;
}

#app-view .route-current-position-label
{
    font-style: italic;
    font-size: 90%;
}

#app-view .route-current-position
{
    font-size: 90%;
}

#app-view .route-img-beacon
{
    margin-top: 2em;
    width: 10em;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    background-color: #eaeaea;
}

#app-view .route-repeat-instruction
{
    white-space: normal;
    font-size: 80%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#app-view .route-next-step
{
    white-space: normal;
    font-size: 80%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-right: 0.3em;
}
